@{
    ViewData["Title"] = "Home Page";
}

@model List<CourseViewModel>
    <divc class="row">
        <h2>Kurslar</h2>
        <hr />
    </divc>


@if (Model.Any())
{
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5 mt-4 ">
        @foreach (var course in Model)
        {
        <div class="row mt-2 mb-2">
            <div class="col">
                <div class="card h-100">
                    <img src="~/img/listing-2.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">@course.Name</h5>
                        <p class="card-text">@course.ShortDescription</p>
                        <h4 class="text-primary">@course.Price TL</h4>
                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@course.Id" class="btn btn-primary" > Detay</a>
                    </div>
                </div>
            </div>
        </div>

        }
    </div>

}
